/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */
:root {
  font-size: 62.5%; /* 10px */

  /* ******************** Custom Properties  ******************* */
  /* Colors */
  --primary-color: #014d4e;
  --secondary-color: #ff9408;
  --secondary-color-m: #ff94088e;
  --tertiary-color: #0e999bb9;
  --tertiary-color-m: #4de6e998;
}

body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;
  display: flex;
}

/* List Item */
li {
  list-style: none;
}

/* Anchor tag */
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

/* CSS */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'lato';
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  letter-spacing: 0.05em;
  border-radius: 20em;
  border-width: 1px;
  margin: 1rem;
  box-shadow: 0 0.5em 1.5em -0.5em #4c584f98;
  background-color: white;
}

.button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #1f8aa298;
}

.button:active {
  box-shadow: 0 0.3em 1em -0.5em #3fb2d598;
}

.styledButton {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-style: italic;
}

.styledButton:hover {
  padding: 0.5rem;
  background-color: white;
  color: var(--primary-color);
  border-radius: 1rem;
}

section#category {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
}

.category__card {
  overflow: hidden;
  position: relative;
}

.image {
  width: 20vw;
  height: 30vh;
  object-fit: cover;
  transition: all 0.35s ease-in-out;
}

.category__card--content__title {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.category__card--content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.35s ease-in-out;
}

.category__card:hover .category__card--content,
.category__card:active .category__card--content {
  transform: scaleY(1);
  transform-origin: center;
}

.category__card:hover .category__card--img img,
.category__card:active .category__card--img img {
  transform: scale(0.98);
  filter: grayscale(50%);
}
