.container {
    width:100%;
    font-size: 15px;
}

@media screen and (max-width:600px) {
    .container{
        width: 55%;
        font-size: 14px;
    }
    
}

@media screen and (max-width:400px) {
    .container{
        width: 75%;
        font-size: 13px;
    }
    
}