.container {
  width: 100%;
  height: 100%;
}

.menuContainer {
  width: 100%;
  display: flex;
}

.categoryContainer {
  width: 25%;
  display: flex;
  justify-content: center;
}

.roleContainer {
  width: 75%;
  display: flex;
  justify-content: center;
}

.dropDownStyle1 {
  width: 50%;
  font-size: 15px;
}
.dropDownStyle2 {
  width: 30%;
  font-size: 15px;
}

.roleTextContainer {
  display: flex;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
  font-size: 10px;
  /* margin-left: 2rem; */
  justify-content: space-between;
  align-items: center;
}

.tableContainer {
  padding: 1rem;
}
@media screen and (max-width: 1020px) {
}
